body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #F4F6F8;
}

header {
  background: #B5121B;
  color: white;
  padding: 20px;
  text-align: center;
}

.filters {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: white;
}

select {
  padding: 6px;
}

.indicadores {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.indicadores div {
  background: white;
  padding: 15px;
  flex: 1;
  border-left: 5px solid #B5121B;
}

#map {
  height: 60vh;
}

.graficos {
  padding: 20px;
  background: white;
}
