body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #F4F6F8;
}

header {
  background: #B5121B;
  color: white;
  padding: 20px;
  text-align: center;
}

.filters {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: white;
}

.indicadores {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.indicadores div {
  background: white;
  padding: 15px;
  flex: 1;
  border-left: 5px solid #B5121B;
  font-weight: 600;
}

.main-layout {
  display: flex;
  height: 60vh;
}

#listaEventos {
  width: 30%;
  overflow-y: auto;
  background: white;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.evento-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

#map {
  width: 70%;
}

.graficos {
  padding: 20px;
  background: white;
  display: grid;
  gap: 30px;
}
